<!DOCTYPE html>
<html lang="">

<head>
<meta charset="utf-8">
<title>Student Project Monitoring System | Supervisor</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="all" />
<script src="{{ url_for('static', filename='operations_js/operations.js') }}"></script>
<script src="{{ url_for('static', filename='operations_js/supervisor.js') }}"></script>
<!--[if IE]><link rel="stylesheet" href="css/ie.css" media="all" /><![endif]-->
<!--[if IE 9]><link rel="stylesheet" href="css/ie9.css" media="all" /><![endif]-->
<!--[if lt IE 9]><link rel="stylesheet" href="css/lt-ie-9.css" media="all" /><![endif]-->
</head>
<body onload="checkToken();GetGroupProject(getAllUrlParams().group_id)">
<div class="testing">
<header class="main">
<h1><strong>Student </strong> Project Monitoring System | Supervisor</h1>
</header>
<section class="user">
<div class="profile-img">
<p><img src="{{ url_for('static', filename='images/person.jpg') }}" alt="" height="40" width="40" /> Welcome back <span id="username"></span></p>
</div>
<div class="buttons">
<button class="ico-font">&#59157;</button>
<span class="button dropdown">
<a href="#">Notifications <span class="pip">4</span></a>
</span>
<span class="button dropdown">
<a href="#">Inbox <span class="pip">6</span></a>
</span>
<span class="button">Live</span>
<span class="button">Help</span>
<span class="button blue"><a href="javascript:logOut()">Logout</a></span>
</div>
</section>
</div>
<!-- navigations -->
<nav>
<ul>
<li class="section"><a href="supervisor"><span class="icon">&#59176;</span> Dashboard</a></li>
<li>
<a href="#"><span class="icon">&#128196;</span>Announcements</a>
</li>
</ul>
</nav>
<!-- navigation -->

<section class="content">

            <form onsubmit="ScoreProject()">
                <div class="field-wrap">
                    Project Name: <input readonly id="r-project_name" type="text">
                </div>
                <div class="field-wrap">
                Short description (200 Words): <textarea readonly id="r-description" name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="field-wrap">
                    Link to Proposal: <input readonly id="r-proposal_file" type="text">
                </div>
                <div class="field-wrap">
                    Link to Documentation: <input readonly id="r-documentation_file" type="text">
                </div>
                <div class="field-wrap">
                    Git repository (link): <input readonly id="r-git_url" type="text">
                </div>
                <div class="field-wrap">
                    Web Url (link): <input readonly id="r-web_url" type="text">
                </div>
                <div class="field-wrap">
                    Add Score (%): <input required id="r-score" type="number">
                </div>
                <input id="project_id" type="hidden">
                <button type="submit" class="">Create / Update Project</button>
        </form>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<!-- <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script> -->
</body>

</html>