<!DOCTYPE html>
<html lang="">

<head>
<meta charset="utf-8">
<title>Student Project Monitoring System | Student</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="all" />
<script src="{{ url_for('static', filename='operations_js/operations.js') }}"></script>
<script src="{{ url_for('static', filename='operations_js/student.js') }}"></script>
<script src="{{ url_for('static', filename='operations_js/message.js') }}"></script>
<!--[if IE]><link rel="stylesheet" href="css/ie.css" media="all" /><![endif]-->
<!--[if IE 9]><link rel="stylesheet" href="css/ie9.css" media="all" /><![endif]-->
<!--[if lt IE 9]><link rel="stylesheet" href="css/lt-ie-9.css" media="all" /><![endif]-->
</head>
<body onload="checkToken();GetMessagesTo(getCookie('group_id'));">
<div class="testing">
<header class="main">
<h1><strong>Student </strong> Project Monitoring System | Student</h1>
</header>
<section class="user">
<div class="profile-img">
<p><img src="{{ url_for('static', filename='images/person.jpg') }}" alt="" height="40" width="40" /> Welcome back <span id="username"></span></p>
</div>
<div class="buttons">
<button class="ico-font">&#59157;</button>
<span class="button">
<a href="create_group">Create / View / Edit Group <span class="pip">Step 1</span></a>
</span>
<span class="button">
<a href="group_members">Create / View / Edit Group Members <span class="pip">Step 2</span></a>
</span>
<span class="button">
<a href="create_project">Create / View Project <span class="pip">Step 3</span></a>
</span>


<span class="button">Help</span>
<span class="button blue"><a href="javascript:logOut()">Logout</a></span>
</div>
</section>
</div>
<!-- navigations -->
<nav>
<ul>
<li class="section"><a href="student"><span class="icon">&#59176;</span> Dashboard</a></li>
<!-- <li>
<a href="#"><span class="icon">&#127748;</span>Submit Project Work</a>
</li> -->
<li>
<a href="project_log"><span class="icon">&#127748;</span>Add to Project Log</a>
</li>
<li>
<a href="view_logs"><span class="icon">&#127748;</span>View Logs</a>
</li>
<li>
<a href="group_messages"><span class="icon">&#127748;</span>Messages <span id="message_count" class="pip"></span></a>
</li>
</li>
</ul>
</nav>
<!-- navigation -->

<section class="content">
        <form onsubmit="SendMessage()">
                <div class="field-wrap">
                    Subject: <input required id="subject" type="text">
                </div>
                <div class="field-wrap">
                Message: <textarea id="message" name="" id="" cols="30" rows="10"></textarea>
                </div>
                <input type="hidden" id="from_id" value="">
                <input type="hidden" id="to_id" value="">
                <button type="submit">Send Message</button>
        </form>
    
    </section>
    <script>
        var to_id = getAllUrlParams().to_id;
        document.getElementById('from_id').value = getCookie('id');
        document.getElementById('to_id').value = to_id;
    </script>

</body>
</html>