<!DOCTYPE html>
<html lang="">

<head>
<meta charset="utf-8">
<title>Student Project Monitoring System | Supervisor</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="all" />
<script src="{{ url_for('static', filename='operations_js/operations.js') }}"></script>
<script src="{{ url_for('static', filename='operations_js/supervisor.js') }}"></script>
<!--[if IE]><link rel="stylesheet" href="css/ie.css" media="all" /><![endif]-->
<!--[if IE 9]><link rel="stylesheet" href="css/ie9.css" media="all" /><![endif]-->
<!--[if lt IE 9]><link rel="stylesheet" href="css/lt-ie-9.css" media="all" /><![endif]-->
</head>
<body onload="checkToken();GetLogInfo(getAllUrlParams().log_id)">
<div class="testing">
<header class="main">
<h1><strong>Student </strong> Project Monitoring System | Supervisor</h1>
</header>
<section class="user">
<div class="profile-img">
<p><img src="{{ url_for('static', filename='images/person.jpg') }}" alt="" height="40" width="40" /> Welcome back <span id="username"></span></p>
</div>
<div class="buttons">
<button class="ico-font">&#59157;</button>

<span class="button blue"><a href="javascript:logOut()">Logout</a></span>
</div>
</section>
</div>
<!-- navigations -->
<nav>
<ul>
<li class="section"><a href="supervisor"><span class="icon">&#59176;</span> Dashboard</a></li>
<li>
<a href="#"><span class="icon">&#128196;</span>Announcements</a>
</li>
</ul>
</nav>
<!-- navigation -->

<section class="content">

            <form onsubmit="ScoreLog(getAllUrlParams().log_id)">
                <div class="field-wrap">
                    Title: <input readonly id="r-title" type="text">
                </div>
                <div class="field-wrap">
                Description: <textarea readonly id="r-description" name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="field-wrap">
                    Link to necessary files: <input readonly id="r-files" type="text">
                </div>
                <div class="field-wrap">
                    Repository Link: <input readonly id="r-source" type="text">
                </div>
                <div class="field-wrap">
                Supervisor Remarks: <textarea required id="r-supervisor_remarks" name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="field-wrap">
                   Score Project Log (%): <input required id="r-score" type="number">
                </div>
                <input id="project_id" type="hidden">
                <button type="submit" class="">Award Student Log</button>
        </form>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<!-- <script src="{{ url_for('static', filename='js/custom.js') }}"></script> -->
<!-- <script src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script> -->
</body>

</html>