<!DOCTYPE html>
<html lang="">

<head>
<meta charset="utf-8">
<title>Student Project Monitoring System</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="all" />
<!--[if IE]><link rel="stylesheet" href="css/ie.css" media="all" /><![endif]-->
<!--[if IE 9]><link rel="stylesheet" href="css/ie9.css" media="all" /><![endif]-->
<!--[if lt IE 9]><link rel="stylesheet" href="css/lt-ie-9.css" media="all" /><![endif]-->
</head>
<body class="login">
	<style>
		select{
	padding: 10px;
    font-size: 12px;
    font-family: Arial;
    color: #606060;
    border: 1px solid #e3e3e3;
    background: #fff;
    width: 100%;
    margin: 0 0 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
		</style>
<section>
<h1><strong>Register new </strong></h1>
<p>
    <button onclick="window.location.href='new-student'" class="green">Student</button>
    <button onclick="window.location.href='new-supervisor'" class="green">Supervisor</button>
    <button onclick="window.location.href='new-admin'" class="green">Admin</button>
</p>

</section>

</body>
</html>